.loader_wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--loading-bg-color);
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}
.circle_1 {
  left: 15%;
}
.circle_2 {
  left: 45%;
  animation-delay: 0.2s;
}
.circle_3 {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
.shadow_1 {
  left: 15%;
}
.shadow_2 {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow_3 {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

/* carousel */
.carousel {
  position: relative;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  /* margin-bottom: 1rem; */
  margin-left: 15%;
  list-style: none;
  gap: 1rem;
}
.carousel-indicators button {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 50px;
  height: 6px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--font-color);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: solid transparent;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}
.carousel-indicators button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.carousel-indicators button.active {
  background-color: green;
  opacity: 1;
  transform: scale(1.1);
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  max-width: 600px;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.carousel-item.active {
  display: block;
}
/* Scrolling Text */
.aboutsection_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollingtext_container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 30px;
  position: relative;
}

.scrollingtext_container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, var(--bg-color), transparent);
  height: 100%;
  width: 40px;
  z-index: 10;
}
.scrollingtext_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, var(--bg-color), transparent);
  height: 100%;
  width: 40px;
  z-index: 10;
}
.scrollingtext_container span {
  filter: brightness(1.5);
  font-size: 35px;
  font-family: Big Shoulders Stencil Display;
  white-space: nowrap;
}

.scrollTextToLeft {
  animation: scrollText 50s linear infinite;
}

.scrollTextToRight {
  animation: scrollText 50s linear infinite reverse;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Landing */
.landing_text {
  font-family: Big Shoulders Stencil Display;
}

/* scroller */
svg {
  vertical-align: middle;
}
.scroll-down {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  bottom: 35px;
  padding-left: 7px;
  cursor: pointer;
  z-index: 2;
  color: #c7c4b8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.scroll-down.svg svg {
  width: 25px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.scroll-down.svg .stroke {
  stroke: var(--primary-color);
}
.scroll-down.svg .scroller {
  fill: var(--primary-color);
  -webkit-animation: updown 1s infinite;
  -moz-animation: updown 1s infinite;
  -o-animation: updown 1s infinite;
  animation: updown 1s infinite;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes updown {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes updown {
  0% {
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
