.loader_wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--loading-bg-color);
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}
.circle_1 {
  left: 15%;
}
.circle_2 {
  left: 45%;
  animation-delay: 0.2s;
}
.circle_3 {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
.shadow_1 {
  left: 15%;
}
.shadow_2 {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow_3 {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

/* carousel */
.carousel {
  position: relative;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  /* margin-bottom: 1rem; */
  margin-left: 15%;
  list-style: none;
  gap: 1rem;
}
.carousel-indicators button {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 50px;
  height: 6px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--font-color);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: solid transparent;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}
.carousel-indicators button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.carousel-indicators button.active {
  background-color: green;
  opacity: 1;
  transform: scale(1.1);
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  max-width: 600px;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.carousel-item.active {
  display: block;
}
