@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #000000;
  --secondary-color: whitesmoke;
  --font-color: #000000;
  --loading-color: #000000;
  --bg-color: #f4f4f9;
  --loading-bg-color: #282b34;
  --github-color: #000814;
  --linkedIn-color: #000814;
  --card-color: #e9edc9;
  /* #e6f0e3;   rgb(73, 139, 192)liked this contrast might find a good use for it */
}
.dark {
  --primary-color: #edf2f4;
  --secondary-color: #6b6b6b;
  --font-color: #fde74c;
  --loading-color: #fff;
  --bg-color: #000814;
  --loading-bg-color: #edf2f4;
  --github-color: #edf2f4;
  --linkedIn-color: #edf2f4;
  --card-color: #000;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  transition: all 0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
